@using ElsaMina.Core.Services.Templates
@inherits ElsaMina.Core.Services.Templates.LocalizableTemplatePage<ElsaMina.Commands.TourConfigurator.TourConfigFormViewModel>

<div style="padding:8px;font-family:Verdana,sans-serif">
    <h2 style="text-align:center;color:#6688AA">@GetString("tourconfig_edit_title", Model.ExistingConfig.TourName ?? Model.ExistingConfig.Id)</h2>
    <hr/>
    @{
        await IncludeAsync("TourConfigurator/TourConfigForm", Model);
    }
</div>
