@using ElsaMina.Commands.Teams
@inherits ElsaMina.Core.Services.Templates.LocalizableTemplatePage<ElsaMina.Commands.Teams.TeamListViewModel>

<div
    style="margin: auto">
    @foreach (var team in Model.Teams)
    {
        <div>
            @{ await IncludeAsync("Teams/SampleTeam", new SampleTeamViewModel
               {
                   Culture = Model.Culture,
                   Team = team
               }); }
        </div>
    }
</div>
