@inherits ElsaMina.Core.Templates.LocalizableTemplatePage<ElsaMina.Commands.GuessingGame.Gatekeepers.GatekeepersGamePanelViewModel>
<table>
    <tbody>
    <tr>
        <td rowspan="2">
            <img src="@Model.FootprintSprite" width="128" height="128" alt="Footprint Sprite"/>
            
        </td>
        <td>
            show portraits = @Model.ShowPortraits
        </td>
    </tr>
    <tr>
        <td rowspan="2">
            show silhouettes = @Model.ShowSilhouettes
        </td>
        <td>

        </td>
    </tr>
    </tbody>
</table>