name: deploy

on:
  push:
    branches: [ "master" ]

jobs:
  test:
    uses: ./.github/workflows/test.yml
    with:
      dotnet-version: "10.0.x"

  analyze:
    uses: ./.github/workflows/sonar.yml
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  build:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "10.0.x"
      - name: restore
        run: ./scripts/restore.sh
      - name: build
        run: ./scripts/build.sh
      - name: publish
        run: ./scripts/publish.sh
      - name: upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-package
          path: ./output

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: download artifacts
        uses: actions/download-artifact@v4
        with:
          name: build-package
          path: ./output
      - name: upload package
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USERNAME }}
          key: ${{ secrets.SERVER_KEY }}
          passphrase: ${{ secrets.SERVER_KEY_PASSPHRASE }}
          source: ./output
          target: ./ElsaV2
      - name: restart app
        uses: appleboy/ssh-action@v1.0.3
        env:
          CONFIG_FILE: ${{ secrets.CONFIG_FILE }}
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USERNAME }}
          key: ${{ secrets.SERVER_KEY }}
          passphrase: ${{ secrets.SERVER_KEY_PASSPHRASE }}
          envs: CONFIG_FILE
          script: |
            bash -c '
              cd ./ElsaV2/output
              echo "Writing config file"
              echo "$CONFIG_FILE" > config.json
              echo "$SERVICE_ACCOUNT_CREDENTIALS" > service_account.client_secrets.json
              echo "Killing existing instances of ElsaMina.Console"
              pkill -x ElsaMina.Console || true
              sleep 1
              echo "Setting permissions"
              chmod u+x ElsaMina.Console
              echo "Starting ElsaMina.Console"
              nohup ./ElsaMina.Console > elsa.log 2>&1 &
              exit 0
            '
